@model novo.Models.Produto
@{
    ViewBag.Title = "Create";
}

<h2>Novo Produto</h2>

<form method="post">
    Id @Html.TextBoxFor(x => x.Id_Produto)
    <br />
    Nome @Html.TextBoxFor(x => x.Descricao)
    <br />
    Quantidade @Html.TextBoxFor(x => x.Quantidade)
    <br />
    Preco_Venda @Html.TextBoxFor(x => x.Preco_Venda)
    <br />
    <input type="submit" value="SALVAR" />
</form>