
@{
    ViewBag.Title = "CadastrarUsuario";
}

<h2>Cadastrar Usuario</h2>

<form method="post">
    Nome
    <input type="text" id="txt_nome" name="txt_nome" />
    <br />
    Senha
    <input type="text" id="txt_senha" name="txt_senha" />
    <br />
    Tipo
    <input type="text" id="txt_tipo" name="txt_tipo" />
    <br />
    <input type="submit" value="Salvar" />
</form>


