@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table width="30%">
            <tr>
                <td>ID</td>
                <br />
                <td>Tipo</td>
                <br />
                <td>Titulo</td>
                <br />
                <td>Descrição</td>
                <br />
                <td>Editar</td>
                <br />
                <td>Deletar</td>
            </tr>
        </table>
    </div>
</body>
</html>
