@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3 style="color:green">Rodapé Padrão</h3>
    </div>
</body>
</html>
