@model novo.Models.Pessoa
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<label>ID</label>
<p>@Model.Id_Pessoa</p>
<label>Nome</label>
<p>@Model.Nome</p>
<label>Idade</label>
<p>@Model.Idade</p>

