
@{
    ViewBag.Title = "New_Aluno";
}

<h2>New_Aluno</h2>

<form method="post">
    Nome
    <input type="text" id="txt_nome" name="txt_nome"/>
    <br />
    Idade
    <input type="text" id="txt_idade" name="txt_idade"/>
    <br />
    <input type="submit" value="Salvar"/>
</form>

